#position-outer{
    width: 450px;
    height: 400px;
    border: 2px solid rgb(11, 1, 1);
    position: relative;
}
.inner{
    width: 100px;
    height: 80px;
}
.css-position-1{
    background-color: rgb(238, 182, 40);
    left: 60px;
    position: static;
}
.css-position-2{
    background-color: rgb(139, 238, 40);
    left: 60px;
    position: relative;
}   
.css-position-3{
    background-color: rgb(40, 99, 238);
    left: 60px;
    position: absolute;
    
}
.css-position-4{
    background-color: rgb(225, 40, 238);
    left: 60px;
}
.css-position-5{
    background-color: rgb(238, 40, 93);
    left: 60px;
}